*{
  margin: 0 auto;

}
#game {
  text-align: center;
  height: 300px;
}
.start{
  display: inline-block;
  margin-top: 100px;
  width: 150px;
  height: 50px;
  cursor: pointer;
  border-radius: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: bold;
  background-image: url(https://ubisafe.org/images/transparent-flame-8-bit-4.gif);
  background-size: cover;

}
.hidden {
  display: none;
}

.background {
  background: rgb(52, 166, 251);
  table-layout: fixed;
  border-spacing: 0;
}

.background td {
  padding: 0;
}

.fireball {
  background-image: url(https://ubisafe.org/images/transparent-flame-8-bit-4.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.lava {
  background-image: url(./img/lava.gif);
  background-repeat: no-repeat;

}
#lives {
  position: absolute;
  right: 29%;
  top: 10px;
  z-index: 666;
}
.elevator {
  background: rgb(229, 229, 229);
}

.wall {
  background-image: url(https://media.forgecdn.net/avatars/116/413/636397996886685593.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.actor {
  position: absolute;
}

.coin {
  background-image: url(./img/bone.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 25px !important;
}

.player {
  background-image: url(./img/8bit-TRex.png);
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
  background-position:-28px 0px;
  background-size: cover;
  display: inline-block;
}
.player::before{
  display: inline-block;
  background-image: url(./img/8bit-TRex.gif);
  background-position:-50px 2px;
  background-size: cover;
  margin-left: 24px;
  height: 45px;
  width: 35px;
  content: " ";
}

.lost .player {
  display: inline-block;
  background-image: url(./img/dead.png);
  background-repeat: no-repeat;
}
.won .player {
  display: none
}
.lost .player::before{
  display: inline-block;
  background-image: url(./img/8bit-TRex.gif);
  background-position:-50px 2px;
  background-size: cover;
  margin-left: 24px;
  height: 45px;
  width: 35px;
  content: " ";
}
.won .player::before{
  display: none;
  background-repeat: no-repeat;
  background-size: cover;
}

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
